/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ......................... 11
2. Variables ...................... 15
3. Estilos generales .............. 33
-------------------- */


/* ----- Fuente ----- */
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');


/* ----- Variables ----- */
* {
	/* --- colores primarios --- */
	--yellow-color: hsl(47, 88%, 63%);

	/* --- colores neutrales --- */
	--white-color: hsl(0, 0%, 100%);
	--grey-color: hsl(0, 0%, 50%);
	--black-color: hsl(0, 0%, 7%);

	--primary-font-family: 'Figtree', sans-serif;
	--lh-text: 22px;
	/* --font-size: 16rem; */
}


/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */
body {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: var(--black-color);
	font-family: var(--primary-font-family);
	line-height: var(--lh-text);
	background-color: var(--yellow-color);
}

.card {
	position: absolute;
	display: flex;
	flex-direction: column;
	gap: 20px;
	height: auto;
	width: 350px;
	padding: 20px;
	border-radius: 20px;
	border: 2px solid var(--black-color);
	background-color: var(--white-color);
	box-shadow: 5px 5px 0 1px rgba(0, 0, 0, 1);
	transition: box-shadow .45s ease, transform 0.3s ease-in-out;
	animation: rotate_card 1s;
}

.card:hover {
	transform: translate(-5px, -5px);
	box-shadow: 10px 10px 0 1px rgba(0, 0, 0, 1);
}

.card>img {
	border-radius: 15px;
}

.card .tag {
	width: fit-content;
	padding: 5px 15px;
	font-weight: 800;
	border-radius: 5px;
	background-color: var(--yellow-color);
}

.card .title,
.card .description {
	margin: 0;
}

.card .title {
	width: fit-content;
	transition: color 0.3s ease-in-out;
}

.card .title:hover {
	cursor: pointer;
	color: var(--yellow-color);
}

.card .description {
	opacity: 0.7;
}

.card .author {
	display: flex;
	align-items: center;
	gap: 10px;
}

.card .author img {
	width: 50px;
	height: 50px;
}

@keyframes rotate_card {
	0% {
		transform: rotateY(0)
	}

	100% {
		transform: rotateY(360deg)
	}
}

@media (400px <=width <=450px) {
	.card {
		width: 330px;
	}
}

@media (width <=399px) {
	.card {
		width: 280px;
	}
}